* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 0 8%;
    position: relative;
}

.logo {
    width: 100px;
    padding: 20px 0;
    cursor: pointer;
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY( -50% );
    color: #fff;
}

.content h1 {
    font-size: 45px;
    font-weight: bold;
} 

.launch-time {
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: auto;
}
body {    
    background-image: url(/assets/development.jpg);
    background-size: cover;
    background-position: center;
}

.footer {
    color: white;
    padding: 40px 0;
    background-color: #e34329;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;

}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(204, 202, 202);
}


@media only screen and (max-width: 1125px) {
    body {
      background-image: linear-gradient(to right, #e34329, #000);
     }
    .container {
        font-size: 15px;
    }
    .footer {
        background-image: linear-gradient(to right, #e34329, #000);
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
      .container h1{
          font-size: 35px;
      }
}

@media only screen and (max-width: 1400px) and (min-width: 1280px) {
      .container h1 {
          font-size: 40px;
      }
}